/*专门清除浮动*/
.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}

body{
	font-family: "Helvetica","Arial",serif;
}
header
{
	background: rgba(0,0,0,0.5);
}
nav
{
	position: fixed;
	/*background-image: -webkit-linear-gradient(right, red, 
	orange 25%, yellow 50%, green 75%, purple 100%);*/
	background: rgba(255,255,255,0.94);
	height: 50px;
	width: 100%;
	z-index: 10;
}
#banner
{
	background: transparent;
	height: 900px;
}
nav ul
{
	list-style: none;
	margin: 0; 
	float: right;
}
nav ul li,nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #333;
	font-weight: bold;
}
nav .logo
{
	float: left;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-left: 15px;
}
.logo a
{
	text-decoration: none;
	color: #000;
}
#banner .inner
{
	max-width: 200px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	/*设置透视perspective属性的元素就是被透视元素。
	一般地，该属性只能设置在变形元素的父级或祖先级。
	因为浏览器会为其子级的变形产生透视效果，但并不会为其自身产生透视效果。*/
	/*透视距离perspective值越大越不明显*/
	perspective: 300px;
}
#banner .inner #understand
{
	top: 300px;	
	position: relative;
	display: block;
	transition: transform 2s;
	/*transition-delay: 0.3s;*/
	-webkit-animation: mymove 2s ease-out;
	-webkit-animation-delay:0.5s;

}
@keyframes mymove{
	0%{top:100px;}
	100%{top:300px;}
}
#banner .inner #understand:hover 
{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	
} 

#banner .inner h1
{	
	/*斜体*/
	/*font-style: oblique;*/
    margin: 0;
    font-weight: bold;
    color: #fff;
	text-shadow: 3px 3px 3px #ccc;
}
#banner .inner #more
{
	position: relative;
	top:600px;
	margin: 0 auto;
	color: #ccc;
}

h1
{
	padding: 12px;
	border-top: 1.5px solid #fff;
	border-bottom:1.5px solid #fff;
}


button
{
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}
#banner button
{
	padding: 10px 25px;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
}
.sub-heading
{
	line-height:30px;
	margin:20px;
	color: #fff;
}

.content
{
	margin-top: 0;
}
h2
{
	margin: 0;
	font-size: 30px;
}

.hr
{
	width: 100%;
	height: 1.5px;
	margin: 20px auto;
}

.green-section
{
	text-align: center;
	background: rgba(26, 95, 87, 0.94);
	color: #fff;
	padding: 50px 0;
	padding-bottom: 20px;
}

.green-section .hr
{
	background: rgba(3, 121, 109, 0.25);
	width: 60%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.wrapper
{
	max-width: 1080px;
	margin: auto;
}

.icon-group
{
	margin:60px auto;
}
/*
每一个green-section下的icon-group的icon的样式。
*/
.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 20%;
	border: 1.5px dashed rgba(146, 137, 137, 0.16);
	background: rgba(1, 190, 191, 0.15);
	transform: rotate(45deg);
	transition: transform 1.5s ease;
	margin:30px;
	position: relative;
}

.green-section .icon-group .icon:hover
{
	transform: rotate(405deg);
}
.green-section .icon-group .icon img
{
	display: block;
	top: 50%;
	margin: auto;
	margin-top: -24px;
	position: relative;
	transform: rotate(-45deg);
}

.artical-preview1 > div
{
	float: left;
	font-size: 0;
}


.artical-preview2 > div
{
	font-size: 0;
	float: right;
}

/*父级元素清除浮动*/
.artical-preview1:after
{
	
	content: '';
	display: block;
	clear: both;/*都清除*/

}
.artical-preview2:after
{
	
	content: '';
	display: block;
	clear: both;/*都清除*/

}

.artical-preview1 
{
    background-color: rgba(255,255,255,0.05);
    position: relative;
    display: flex;
}


.gray-section
{
	background: #123144
}
.gray-section .img-section
{
	width: 40%;
}

.img-section img
{
	width: 100%;
}
.gray-section .text-section
{
	width: 55%;
}

.text-section >*
{
	max-width: 90%;
}
.text-section
{
	position: relative;
    top: 80px;
    left: 30px;
    color: #fff;
}
.text-section h2
{
	font-size: 25px;
	margin-bottom: 20px;
}

.text-section h3
{
	font-size: 20px;
}
p
{
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: bold;
}



.purple-section
{
	background: rgb(55, 26, 86);
	color: #fff;
	
	padding: 80px;
}

.purple-section .wrapper
{
	text-align: center;
}

.purple-section .sub-heading
{
	margin:0;
}

.purple-section .hr
{
	background: rgba(0,0,0, 0.16);
	width: 70%;
}
.card-group
{
	padding: 20px;
}

/*.card-group:after
{
	
	content: '';
	display: block;
	clear: both;

}*/
.card
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
	/*border: 1px solid white;*/
}
.card:first-child
{
	background: rgba(0,0,0,0.05);
}
.card:nth-child(2)
{
	background: rgba(0,0,0,0.1);
}
.card:nth-child(3)
{
	background: rgba(0,0,0,0.15);
}
.card:nth-child(4)
{
	background: rgba(0,0,0,0.2);
}
.card:nth-child(5)
{
	background: rgba(0,0,0,0.25);
}
.card:nth-child(6)
{
	background: rgba(0,0,0,0.3);
}


footer
{
	background: rgba(0,0,0,0.5);
	color: #fff;
	min-height: 100px;
	text-align: center;
}

.share-group
{
	padding: 40px;
	display: block;
	list-style: none;
	margin:0 auto;
}
.share-group li
{
	display: inline-block;
	padding: 15px;
}
.copy
{
	padding-bottom: 20px;
}


#main-wrapper
{
	background-image:-webkit-linear-gradient(left top, 
		rgba(50,50,50,0.5),red, 
		orange 25%, yellow 50%, green 75%, purple 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;/*不重复*/
	background-size: cover;/*以封面的大小来确定大小*/
	/*background-position: center;*//*居中*/
}

