/*专门清除浮动*/
.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}

header
{
	background: rgba(0,0,0,0.3);
}
nav
{
	background: transparent;
	height: 50px;
}
#banner
{
	background: transparent;
	height: 700px;
}
nav ul
{
	list-style: none;
	margin: 0; 
	float: right;
}
nav ul li,nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a
{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}
nav .logo
{
	float: left;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
	padding-left: 15px;
}
.logo a
{
	text-decoration: none;
	color: #fff;
}
#banner .inner
{
	max-width: 200px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 180px;
}
#banner .inner h1
{
    margin: 0;
    font-weight: bold;
    color: #fff;

}
#banner .inner .more
{
	margin-top: 250px;
	color: #fff;
}

h1
{
	padding: 12px;
	border-top: 1.5px solid #fff;
	border-bottom:1.5px solid #fff;
}


button
{
	border: none;
	background: #333;
	color: #eee;
	padding: 10px;
}
#banner button
{
	padding: 10px 25px;
	background: rgba(0,0,0,0.4);
}
.sub-heading
{
	line-height:30px;
	margin:20px;
	color: #fff;
}

.content
{
	margin-top: 0;
}
h2
{
	margin: 0;
	font-size: 30px;
}

.hr
{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

.green-section
{
	text-align: center;
	background: rgb(4, 165, 148);
	color: #fff;
	padding: 50px 0;
	padding-bottom: 20px;
}

.green-section .hr
{
	background: #05AF9D;
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.wrapper
{
	max-width: 1080px;
	margin: auto;
}

.icon-group
{
	margin:60px auto;
}
/*
每一个green-section下的icon-group的icon的样式。
*/
.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1.5px dashed rgba(146, 137, 137, 0.76);
	background: rgba(1, 190, 191, 0.5);
	transform: rotate(45deg);
	margin:30px;
}


.artical-preview1 > div
{
	float: left;
	font-size: 0;
}


.artical-preview2 > div
{
	font-size: 0;
	float: right;
}

/*父级元素清除浮动*/
.artical-preview1:after
{
	
	content: '';
	display: block;
	clear: both;/*都清除*/

}
.artical-preview2:after
{
	
	content: '';
	display: block;
	clear: both;/*都清除*/

}

.artical-preview1 
{
    background-color: rgba(255,255,255,0.05);
}


.gray-section
{
	background: #123144
}
.gray-section .img-section
{
	width: 40%;
}

.img-section img
{
	width: 100%;
}
.gray-section .text-section
{
	width: 55%;
}

.text-section >*
{
	max-width: 90%;
}
.text-section
{
	position: relative;
    top: 80px;
    left: 30px;
    color: #fff;
}
.text-section h2
{
	font-size: 25px;
	margin-bottom: 20px;
}

.text-section h3
{
	font-size: 20px;
}
p
{
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: bold;
}



.purple-section
{
	background: rgb(55, 26, 86);
	color: #fff;
	
	padding: 80px;
}

.purple-section .wrapper
{
	text-align: center;
}

.purple-section .sub-heading
{
	margin:0;
}

.purple-section .hr
{
	background: rgba(0,0,0, 0.16);
	width: 70%;
}
.card-group
{
	padding: 20px;
}

/*.card-group:after
{
	
	content: '';
	display: block;
	clear: both;

}*/
.card
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
	/*border: 1px solid white;*/
}
.card:first-child
{
	background: rgba(0,0,0,0.05);
}
.card:nth-child(2)
{
	background: rgba(0,0,0,0.1);
}
.card:nth-child(3)
{
	background: rgba(0,0,0,0.15);
}
.card:nth-child(4)
{
	background: rgba(0,0,0,0.2);
}
.card:nth-child(5)
{
	background: rgba(0,0,0,0.25);
}
.card:nth-child(6)
{
	background: rgba(0,0,0,0.3);
}


footer
{
	background: rgba(0,0,0,0.5);
	color: #fff;
	min-height: 150px;
	text-align: center;
}

.share-group
{
	padding: 50px;
	display: block;
	list-style: none;
	margin:0 auto;
}
.share-group li
{
	display: inline-block;
	padding: 15px;
}
.copy
{
	padding-bottom: 20px;
}



.main-wrapper
{
	background: #444 url(../img/12.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;/*不重复*/
	background-size: cover;/*以封面的大小来确定大小*/
	/*background-position: center;*//*居中*/
}
